.input:focus {
    box-shadow: 0 0 5px #D1D1D1;
    outline: none;
}

.input {
    width: 372px;
    height: 36px;
    padding-left: 10px;
    /*gap: 0px;*/
    border-radius: 5px;
    border: 1px solid #D1D1D1;
}

.inputWrapper {
    display: flex;
    flex-direction: column; /* измените направление на колонку */
    align-items: flex-start; /* чтобы текст ошибки был выровнен по левому краю */


}

.superInput {

}

.errorInput {
    border: 1px solid #CC1439;
}

.errorInput:focus {
    box-shadow: 0 0 5px #f57b7b;
    outline: none;
}

.error {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    line-height: 27px;
    text-transform: capitalize;
    color:#CC1439;
    margin-bottom: 5px;

}
